body {
  background-color: #f5fff5;
}

.custom-nav {
  background-color: #3b945e;
}

.custom-footer {
  background-color: #3b945e;
  color: white;
  text-align: center;
  padding: 12px;
  margin-top: 30px;
}

.plant-card {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
